.item-detail{
    display: flex;
    justify-content: center;
    width: 900px;
    min-height: 90vh;
    padding: 100px 100px;
  }
.container{
    display: flex;
    width: 70%;
    flex-direction: column;
  }
.item-detail img{
    width: 100%;
  }
.title-detail{
    margin: 20px;
    padding: 20px;
    font-size: 65px;
    font-weight: bold;
    
  
  }
.text-detail{
    margin-left: 50px;
    padding: 10px;
    font-size: 16px;
    background-color: #e3d8e4;
    border: 2px solid rgb(0, 0, 0);
  }

  .btn-end-buy{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 1%;
    border: 2px solid rgb(0, 0, 0);
    background-color: #e3d8e4;
    font-size: 20px;
  }

  .btn-end-buy:hover{
    background-color: #8e6995;
    cursor: pointer;
  }